<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="16x16" href="__Admin__/images/favicon.png">
    <title>跳转提示-织梦科技短视频V2.0后台管理系统</title>
    <link href="__Admin__/dist/css/style.css" rel="stylesheet">
    <!-- This page CSS -->
    <link href="__Admin__/dist/css/pages/error-pages.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script>
    var wait = <?php echo($wait);?>;
    $(document).ready(function() {
        returnPage();
    });

    function returnPage() {
        if (wait == 0) {
            
            window.location.href = '<?php echo($url);?>';
        } else {
            
            $("#redirectUrlBtn").html("   " + wait + "秒后自动跳转!");
            wait--;
            setTimeout(function() {
                    returnPage();
                },
                1000)
        }
    }
    </script>
<body>
    <section id="wrapper" class="error-page">
        <div class="error-box">
            <div class="error-body center-align">
                <?php switch ($code) {?>
                        <?php case 1:?>
                        <!-- 成功 -->
                        
                        <center><img src="__Home__/images/success.png" style="text-align:center"></center>
                        <center style="margin-top: 50px;">
                            <p class="m-t-30 m-b-30"><?php echo(strip_tags($msg));?></p>
                            <p class="m-t-30 m-b-30">如您的浏览器未跳转请点击下方按钮</p>
                            <a href="<?php echo($url);?>" class="btn btn-round red waves-effect waves-light m-b-40">返回</a>
                        </center>


                        
                        <?php break;?>
                        <?php case 0:?>
                        
                        <!-- 错误 -->
                        <center><img src="__Home__/images/error.png" style="text-align:center"></center>
                        <center style="margin-top: 50px;">
                           
                            <p class="m-t-30 m-b-30"><?php echo(strip_tags($msg));?></p>
                            <p class="m-t-30 m-b-30">如您的浏览器未跳转请点击下方按钮</p>
                        </center>

                       <a href="<?php echo($url);?>" class="btn btn-round red waves-effect waves-light m-b-40">返回</a>
                        <?php break;?>
                        <?php } ?>
                
                
            </div>
        </div>
    </section>
    <!-- ============================================================== -->
    <!-- All Required js -->
    <!-- ============================================================== -->
    <script src="__Admin__/libs/jquery/dist/jquery.min.js"></script>
    <script src="__Admin__/dist/js/materialize.min.js"></script>
</body>

</html>