<script src="__Admin__/libs/jquery/dist/jquery.min.js"></script>
    <script src="__Admin__/dist/js/materialize.min.js"></script>
    <script src="__Admin__/libs/perfect-scrollbar/dist/js/perfect-scrollbar.jquery.min.js"></script>
    <!-- ============================================================== -->
    <!-- Apps -->
    <!-- ============================================================== -->
    <script src="__Admin__/dist/js/app.js"></script>
    <script src="__Admin__/dist/js/app.init.js"></script>
    <script src="__Admin__/dist/js/app-style-switcher.js"></script>
    <!-- ============================================================== -->
    <!-- Custom js -->
    <!-- ============================================================== -->
    <script src="__Admin__/dist/js/custom.min.js"></script>
    <!-- ============================================================== -->
    <!-- This page plugin js -->
    <!-- ============================================================== -->
    <script src="__Admin__/extra-libs/DataTables/datatables.min.js"></script>
    <script src="__Admin__/dist/js/pages/datatable/datatable-advanced.init.js"></script>
    <script src="__Admin__/libs/toastr/build/toastr.min.js"></script>
    <script src="__Admin__/extra-libs/toastr/toastr-init.js"></script>