<script src="__Home__/plugins/jquery/jquery-3.1.0.min.js"></script>
    <script src="__Home__/plugins/bootstrap/popper.min.js"></script>
    <script src="__Home__/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="__Home__/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="__Home__/plugins/chartjs/chart.min.js"></script>
    <script src="__Home__/plugins/apexcharts/dist/apexcharts.min.js"></script>
    <script src="__Home__/js/lime.min.js"></script>
    <script src="__Home__/js/pages/dashboard.js"></script>
    <script src="__Home__/js/modal_dialog.js"></script>