<!DOCTYPE html>
<html>
{include file="public/head"}
<link rel="stylesheet" type="text/css" href="__Admin__/edit/styles/simditor.css" />
<style type="text/css">
#editor-trigger {
    height: 300px;
    max-height: 500px;
}

.container {
    width: 100%;
    margin: 0 auto;
    position: relative;
}
</style>
</head>

<body>
    <div class="main-wrapper" id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <div class="preloader">
            <div class="loader">
                <div class="loader__figure"></div>
                <p class="loader__label">LanShou Admin</p>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        {include file="public/header"}
        <!-- ============================================================== -->
        <!-- Sidebar scss in sidebar.scss -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Sidebar scss in sidebar.scss -->
        <!-- ============================================================== -->
        {include file="public/leftmenu"}
        <!-- ============================================================== -->
        <!-- Sidebar scss in sidebar.scss -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper scss in scafholding.scss -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Title and breadcrumb -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid scss in scafholding.scss -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col s12">
                        <div class="card">
                            <div class="card-content">
                                <h5 class="card-title">公告设置</h5>
                                <p>编辑站点首页公告信息</p>
                                <!--  <form class="formValidate" id="formdata"> -->
                                <div class="row">
                                    <div class="input-field col s12">
                                        <label for="uname">标题* </label>
                                        <input id="title" name="title" type="text" data-error=".errorTxt1" value="{$re.title}">
                                        <div class="errorTxt1"></div>
                                    </div>
                                    <div class="input-field col s12">
                                        <textarea id="editor" placeholder="Balabala" autofocus>{$re.notice}</textarea>
                                    </div>
                                    <div class="input-field col s12">
                                        <button class="btn waves-effect waves-light right submit" type="button" onclick="formdata()">提交</button>
                                    </div>
                                </div>
                                <!-- </form> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- Container fluid scss in scafholding.scss -->
            <!-- ============================================================== -->
            <footer class="center-align m-b-30">Theme by <a href="https://xx.muzzz.cn">LanShou</a>.</footer>
        </div>
        <!-- ============================================================== -->
        <!-- Page wrapper scss in scafholding.scss -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Right Sidebar -->
        <!-- ============================================================== -->
        {include file="public/setting"}
        <!-- ============================================================== -->
        <!-- Right Sidebar -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- All Required js -->
    <!-- ============================================================== -->
    {include file="public/footer"}
    <script type="text/javascript" src="__Admin__/edit/scripts/module.min.js"></script>
    <script type="text/javascript" src="__Admin__/edit/scripts/hotkeys.min.js"></script>
    <script type="text/javascript" src="__Admin__/edit/scripts/uploader.min.js"></script>
    <script type="text/javascript" src="__Admin__/edit/scripts/simditor.min.js"></script>
    <script type="text/javascript">
    var editor = new Simditor({
        textarea: $('#editor')
        //optional options
    });

    function formdata() {
        var title = $("#title").val();
        var text = $('#editor').val();
        if (title == '') {
            toastr.error('标题不能为空', '错误', { positionClass: 'toast-top-center', containerId: 'toast-top-center' });
            return false;
        }
        if (text == '') {
            toastr.error('公告内容不能为空', '错误', { positionClass: 'toast-top-center', containerId: 'toast-top-center' });
            return false;
        }
        $.ajax({
            type: "post",
            url: "/admin/system/upnotice",
            dataType: "json",
            data: { "title": title, "text": text},
            async: true,
            success: function(data) {
                console.log(data);
                if (data.code == 1) {
                    //window.location.href="你所要跳转的页面";
                    toastr.success(data.msg, '成功', { positionClass: 'toast-top-center', containerId: 'toast-top-center' });
                    //message('success', data.msg);
                    setTimeout(function() {
                        location.href = data.url;
                    }, 1000);
                }
                if (data.code == 0) {
                    toastr.info(data.msg, '警告', { positionClass: 'toast-top-center', containerId: 'toast-top-center' });
                }
            },
            error: function() {
                toastr.error('请检查你的网络', '错误', { positionClass: 'toast-top-center', containerId: 'toast-top-center' });
                //message('error', '请检查你的网络');
            }

        })
    }
    </script>
</body>

</html>